.button-container {
  border: none;
  background-color: transparent;
}

.CreateTodoButton {
  background-color: transparent;
  border-radius: 50%;
  color: white;
  fill: #535bf2;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 24px;
  left: 46.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
  width: 68px;
  z-index: 1;
  transform: rotate(0);
  transition: .3s ease;
}

.CreateTodoButton:hover {
  fill: skyblue;
  transform: rotate(224deg);
}

  